SFC CODE/SFC CODE/NewBasicManagement/BasicManagement/Web References/com.luxshare-ict.plmNew/SAPService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sapservice.luxshare.com.cn/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://sapservice.luxshare.com.cn/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://sapservice.luxshare.com.cn/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPLMCADD_SAP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="part" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sapDoctype" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPLMCADD_SAPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPLMCADD_SAPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPLMData_SAP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="part" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sapDoctype" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPLMData_SAPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPLMData_SAPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetPLMCADD_SAPSoapIn">
    <wsdl:part name="parameters" element="tns:GetPLMCADD_SAP" />
  </wsdl:message>
  <wsdl:message name="GetPLMCADD_SAPSoapOut">
    <wsdl:part name="parameters" element="tns:GetPLMCADD_SAPResponse" />
  </wsdl:message>
  <wsdl:message name="GetPLMData_SAPSoapIn">
    <wsdl:part name="parameters" element="tns:GetPLMData_SAP" />
  </wsdl:message>
  <wsdl:message name="GetPLMData_SAPSoapOut">
    <wsdl:part name="parameters" element="tns:GetPLMData_SAPResponse" />
  </wsdl:message>
  <wsdl:portType name="SAPServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPLMCADD_SAP">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">从SAP根据料号及类别获取图文档类别、编号、版本、名称</wsdl:documentation>
      <wsdl:input message="tns:GetPLMCADD_SAPSoapIn" />
      <wsdl:output message="tns:GetPLMCADD_SAPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPLMData_SAP">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">从SAP根据料号及类别获取图文档编号、文件URL路径</wsdl:documentation>
      <wsdl:input message="tns:GetPLMData_SAPSoapIn" />
      <wsdl:output message="tns:GetPLMData_SAPSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SAPServiceSoap" type="tns:SAPServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://sapservice.luxshare.com.cn/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPLMCADD_SAP">
      <soap:operation soapAction="http://sapservice.luxshare.com.cn/GetPLMCADD_SAP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPLMData_SAP">
      <soap:operation soapAction="http://sapservice.luxshare.com.cn/GetPLMData_SAP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SAPServiceSoap12" type="tns:SAPServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://sapservice.luxshare.com.cn/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPLMCADD_SAP">
      <soap12:operation soapAction="http://sapservice.luxshare.com.cn/GetPLMCADD_SAP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPLMData_SAP">
      <soap12:operation soapAction="http://sapservice.luxshare.com.cn/GetPLMData_SAP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SAPService">
    <wsdl:port name="SAPServiceSoap" binding="tns:SAPServiceSoap">
      <soap:address location="http://plm.luxshare-ict.com/plmws/SAPService.asmx" />
    </wsdl:port>
    <wsdl:port name="SAPServiceSoap12" binding="tns:SAPServiceSoap12">
      <soap12:address location="http://plm.luxshare-ict.com/plmws/SAPService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>